* {
    padding: 0px;
    margin: 0px;
}

:root {
    font-size: 16px;
    --bg-color-main: #E8EAED;
    --bg-color-card: white;
    --bg-color-blue: rgba(0, 127, 255, 0.1);
    --border-color: #dadce0;
    --primary-color: #007fff;
    --h-color: black;
    --p-color: #202124;
    --p2-color: #5f6368;
    --space-l: 56px;
    --space-m: 16px;
    --space-s: 8px;
    --success-color: #28a745;
    --success-bg-color: rgba(40, 167, 69, 0.1);
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--bg-color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.space-xl {
    gap: 4rem;
}

.space-l {
    gap: 2rem;
}

.space-m {
    gap: 1rem;
}

.space-s {
    gap: 0.5rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4 {
    color: var(--h-color);
}

.p2 {
    color: var(--p2-color);
}

.container {
    background-color: var(--bg-color-card);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
}

.section-border {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.section {
    padding: 1rem;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-blue);
    color: var(--primary-color);
    font-size: 0.7rem;
    padding: 0.2rem 0.6rem;
    border-radius: 0.2rem;
}

.success-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--success-bg-color);
    color: var(--success-color);
    font-size: 0.7rem;
    padding: 0.2rem 0.6rem;
    border-radius: 0.2rem;
}

.success {
    color: var(--success-color);
}

.product-img {
    width: 8rem;
    height: auto;
    border-radius: 0.5rem;
}

#product-qty {
    align-items: center;
    justify-content: space-between;
}

#coupon {
    height: 2rem;
}

input {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
    display: flex;
    padding: 0.5rem 0.5rem;
}

.btn {
    color: white;
    background-color: black;
    border: 0px;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.main-btn {
    color: white;
    background-color: var(--primary-color);
    border: 0px;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 1rem;
}
